/*! HTML5 Boilerplate v7.3.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
body {
  font-size: 14px;
  max-width: 100%;
  font-family: "Montserrat";
  text-align: center;
}

img.profile-pic {
  padding: 5px;
  max-width: 70px;
  border-radius: 50%;

}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto', sans-serif;
}


p {
  color: #8f8f8f;
  font-family: 'Roboto', sans-serif;
}

footer {
  background-color: lightgrey;
  font-size: 12px;
  font-style: italic;
  max-width: 100%

}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  color: #e47c40;
}




/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */


/* Headings */

.big-heading {
  font-family: 'Roboto', sans-serif;
  font-size: 2rem;
  line-height: 1.6;
}

.section-heading {
  font-size: 3rem;
  line-height: 1.5;
}

/* Containers */

.container-fluid{
  padding: 5%;
}

/* Sections */

.colored-section {
  background-color: #b6d0de;
  color: #353340;
}

.white-section {
  background-color: #ffffff;
}

/* Navigation Bar */

.navbar {
  padding: 0 0 3.5rem;
}

.navbar-brand {
  font-family: 'IBM Plex Mono', monospace;
  font-size: 2.1rem;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .02em solid whitesmoke; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .1em; /* Adjust as needed */
  animation:
    typing 3s steps(50),
    blink-caret .70s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  20% { border-color: whitesmoke; }
}
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
  font-family: 'Roboto', sans-serif;
}

/* Buttons */
.btn {
  font-family: 'Roboto', sans-serif;
  margin-top: 2%;
}
.download-button {
  margin: 10% 3% 5% 0;
  font-family: 'Roboto', sans-serif;
}

label {
 margin-top: 3.5%;
}

/* Title Section */

#title {
  background-color: #b6d0de;
  color: #353340;
  text-align: left;
}

#title .container-fluid {
  padding: 5% 10% 5%;

}

/* Services Section */

#services {
  position: relative;
}

.service-title {
  font-size: 1.5rem;
}

.service-box {
  padding: 4.5%;
}

.icon {
  color: #74babd;
  margin-bottom: 1rem;
}

.icon:hover {
  color: #e47c40;
}

/* Client Logos */


#press {
  background-color: #fff;
  padding-bottom: 3%;
}

.press-logo {
  width: 8%;
  margin: 20px 20px 50px;
}

.press-text {
  font-size: 1rem;
  font-style: italic;
}

/* Pricing Section */

#contact {
  padding: 50px;
}

.contact-heading {
  font-family: 'Roboto', sans-serif;
  font-size: 2rem;
}

.contact-text {
  font-size: 1rem;
  line-height: 1.25;
}

.pricing-column {
  padding: 3% 2%;
}

/* CTA Section */
.form-group {
  margin: auto;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  line-height: 1.25;
}


/*Calendly */
.calendly-inline-widget {
  margin: auto;
  text-align: center;
  border-radius: 5%;
}
/* Footer Section */


.social-icon {
  margin: 20px 10px;
  width: 5%;
}

@media (max-width: 1028px) {

  #title {
    text-align: center;
  }

  .title-image {
    position: static;
    transform: rotate(0);
  }
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
  display: none !important;
}

/*
* Hide only visually, but have it available for screen readers:
* https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
*
* 1. For long content, line feeds are not interpreted as spaces and small width
*    causes content to wrap 1 word per line:
*    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
*/

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
* Extends the .sr-only class to allow the element
* to be focusable when navigated to via the keyboard:
* https://www.drupal.org/node/897638
*/

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
* Hide visually and from screen readers, but maintain layout
*/

.invisible {
  visibility: hidden;
}

/*
* Clearfix: contain floats
*
* For modern browsers
* 1. The space content is one way to avoid an Opera bug when the
*    `contenteditable` attribute is included anywhere else in the document.
*    Otherwise it causes space to appear at the top and bottom of elements
*    that receive the `clearfix` class.
* 2. The use of `table` rather than `block` is only necessary if using
*    `:before` to contain the top-margins of child elements.
*/

.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

.clearfix:after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: "";
  }
  pre {
    white-space: pre-wrap !important;
  }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  /*
     * Printing Tables:
     * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
     */
  thead {
    display: table-header-group;
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
}

